<div class="col-md-12">
  <hr>
  <h1>{{ titulo }}</h1>
  <hr>
  <div class="data-identity" *ngIf="identity">
    <div class="user-identity alert alert-success" *ngIf="identity.email">
      Bienvenido {{ identity.name }}
    </div>
    <div class="user-identity alert alert-danger" *ngIf="identity.status">
      {{ identity.data }}
    </div>
  </div>
  <form class="col-md-4" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <label for="email">Email:</label>
      <input type="email" class="form-control" required name="email" #email="ngModel" [(ngModel)]="user.email" >
      <span *ngIf="!email.valid">El email es obligatorio</span>
    </p>
    <p>
      <label for="password">Contraseña:</label>
      <input type="password" class="form-control" required name="password" #password="ngModel" [(ngModel)]="user.password">
      <span *ngIf="!password.valid">La contraseña es obligatoria</span>
    </p>
    <p>
      <input type="submit" class="btn btn-primary" value="Entrar">
    </p>
  </form>
</div>
